@page "/"

<h1>Blazor Beer Calculator</h1>

<div class="row">
    <div class="col-md-12">
        <form onsubmit="return false;" lang="en-us">
            <div class="form-group">
                <label>Original gravity:</label>
                <input type="number" step="0.001" class="form-control" bind="@Og" />
            </div>
            <div class="form-group">
                <label>Final gravity:</label>
                <input type="number" step="0.001" class="form-control" bind="@Fg" />
            </div>
            <div class="form-group">
                <button onclick="@OnClick" class="btn btn-primary">Calculate</button>
                <strong style="margin-left:20px">Alc vol: @AlcVol%</strong>
            </div>
        </form>
    </div>
</div>
@functions {
protected double Og = 1.051;
protected double Fg = 1.010;
protected double AlcVol = 0;

protected override void OnInit()
{
    CalculateAlcVol();
}

protected void OnClick(UIMouseEventArgs e)
{
    CalculateAlcVol();
}

private void CalculateAlcVol()
{
    Console.WriteLine("OG: " + Og);
    Console.WriteLine("FG: " + Fg);

    if (1.775 - Og == 0)
    {
        AlcVol = 0;
        return;
    }

    AlcVol = ((76.08 * (Og - Fg) / (1.775 - Og)) * (Fg / 0.794));
    AlcVol = Math.Round(AlcVol, 1);
}
} 